/* 
===========================================================================================================================
===========================================================================================================================
Common css ----------------------------------------------------------------------------------------------------------------
===========================================================================================================================
===========================================================================================================================
*/

html, body{
	background: #F0F0ED;
}

html, body, p{
	margin: 0;
	padding: 0;
	font-family: 'Muli', sans-serif;
}

table{
	border-collapse: collapse;
}

a{
	text-decoration: none;
}

.wrapper{
	max-width: 960px;
	margin: 0 auto;
}

header{
	z-index: 9;
	position: fixed;
	top: 0;
	width: 100%;
	overflow: hidden;
}
main {
	padding-top: 130px;
	overflow: auto;
}

/* 
-----------------------------------------------------------------------------
First level nav bar
-----------------------------------------------------------------------------
*/

.nav__first-lvl{
	border-width:1px 0;
	width: 100%;
	padding: 22px 0;
	background: black;
}
.first-lvl__bar-table{
	width: 100%;
}
.first-lvl__bar-table td{
	vertical-align: middle;
	padding: 0;
	line-height: 15px;
}
.nav__first-lvl ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.nav__first-lvl li{
	display: inline-block;
}
.nav__first-lvl li a{
	display: block;
	/*font-weight: 600;*/
	color: white;
	letter-spacing: 0.5px;
}
.first-lvl__main-menu a{
	padding-right: 30px;
	text-transform: uppercase;
	font-size: 18px;
}
.first-lvl__main-menu li.active a{
	color: #3cb4e7;
	pointer-events:none;
}

.first-lvl__main-menu li a:hover, .first-lvl__lang-menu li a:hover{
	color: #3cb4e7;
}
.first-lvl__lang-menu li.active a{
	padding: 2px;
	background: #3cb4e7;
	color: black;
	border-radius: 2px;
	pointer-events:none;
}
.lang__switcher{
	text-align: right;
}
.lang__switcher ul{
	display: inline-block;
}
/* 
-----------------------------------------------------------------------------
Second level nav bar
-----------------------------------------------------------------------------
*/
.nav__second-lvl {
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
	background-color: white;

	border-bottom:1px solid #e1e1e1;
	border-width:1px 0;
	margin-bottom: 25px;
}
.nav__second-lvl li {
	display:inline;
}
.nav__second-lvl a {
	text-transform: uppercase;
	display:inline-block;
	padding:15px;
	font-size: 20px;
	color: grey;
	font-weight: 600;
}
.nav__second-lvl li.active a{
	display:inline-block;
	padding:10px;
	font-size: 23px;
	color: #3cb4e7;
	pointer-events:none;
	font-weight: 800;
}
.nav__second-lvl li a:hover{
	color: black;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transition: 0.25s ease;
}
.fixed {
	position: fixed;
	top: 0;
	width: 100%;
}
